// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: #f5cac3;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
}

h1 {
  margin: 40px 0;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.container {
  width: 900px;
}

.sorted-letters {
  margin: 40px;
}

.letter-boxx {
  background-color: #b7094c;
  color: white;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 4px;
  font-size: 38px;
}

a {
  text-decoration: none;
  color: #b7094c;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;

  &:hover {
    color: white;
  }
}

#play-btn {
  background-color: #b7094c;
  color: white;
  border: 1px solid #b7094c;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: white;
    color: #b7094c;
    border: 1px solid white;
  }
}

#again {
  margin-top: 40px;
}

#input_word:focus {
  outline: none;
}